.side-menu {
  top: 64px;
  bottom: 56px;
  left: 0;
  position: fixed;
  width: 240px;
  background: #f5f5f5;
  border-right: 1px solid rgba(0,0,0,0.12);
  padding-top: 0;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.side-menu.hidden {
  transform: translateX(-240px);
}
.side-menu {
  width: 250px; /* Adjust width as needed */
  background-color: #f8f9fa; /* Light background color */
  border-right: 1px solid #dee2e6; /* Border for separation */
  height: 100vh; /* Full height */
  overflow-y: auto; /* Scroll if content overflows */
}

.menu-item {
  cursor: pointer;
  padding: 16px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center; /* Align items vertically centered */
}

.menu-item:hover {
  background-color: #e9ecef; /* Highlight on hover */
}

.menu-title {
  flex-grow: 1; /* Allow the title to take up available space */
}
mat-icon {
  margin-left: 8px; /* Optional: Add some space between the title and the icon */
}
.spacer {
  flex: 1 1 auto;
}
.submenu {
  padding-left: 16px; /* Indent submenu items */
}

.submenu-item {
  padding: 12px 16px; /* Padding for submenu items */
  cursor: pointer;
}

.submenu-item:hover {
  background-color: #e9ecef; /* Highlight on hover */
}

.hidden {
  display: none; /* Hide the menu when isHidden is true */
}

.active-link {
  color: blue;
  font-weight: bold;
}
