.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eeeeee;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  background-color: transparent !important;
}

mat-card-content {
  background-color: #fff;
  padding: 30px 20px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-header-primary {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  margin: -20px 15px 0;
  border-radius: 3px;
  padding: 15px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  mat-card-title h2 {
    margin: 0;
    font-weight: 300;
  }
  
  mat-card-subtitle {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.full-width {
  width: 100%;
}

.submit-btn {
  margin-top: 10px;
  padding: 8px 0;
  background-color: #9c27b0;
  color: white;
  
  &:disabled {
    background-color: rgba(0,0,0,.12);
  }
}
