# === FLASK ===
FLASK_APP=app
FLASK_ENV=development
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5001
FLASK_DEBUG=1
PYTHONPATH=.


#=== SQLITE ===
DATABASE_PATH=db/economy.db

#=== POSTGRES ===
DB_ENGINE=postgres
POSTGRES_USER=miguel
POSTGRES_PASSWORD=
POSTGRES_DB=economy
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_ADMIN_EMAIL=admin@economy.com
POSTGRES_ADMIN_PASSWORD=

#=== BACKEND ===
BACKEND_IMAGE=economy-api
BACKEND_TAG=0.0
BACKEND_PORT=5001
BACKEND_NAME=economy-backend

# === FRONTEND ===
FRONTEND_IMAGE=economy-client
FRONTEND_TAG=0.0
FRONTEND_PORT=4200
FRONTEND_NAME=economy-frontend
