<h1 mat-dialog-title>{{isEditMode? 'Edit': 'Add'}} User {{ isEditMode ? `(${data.id})` : '' }}</h1>
<div *ngIf="isLoading" class="loading">Saving...</div>
<div *ngIf="errorMessage && !isLoading" class="error-message">
  {{ errorMessage }}
</div>

<form [formGroup]="userForm"> <!-- Aquí se usa formGroup -->
  <div mat-dialog-content class="edit-user-form">
    <!-- Name, Surname1 y Surname2 en una línea -->
    <div class="row-3">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="formControls['name'].hasError('required')">
          Name is required
        </mat-error>
        <mat-error *ngIf="formControls['name'].hasError('minlength')">
          Name must be at least 2 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Surname1</mat-label>
        <input matInput formControlName="surname1">
        <mat-error *ngIf="formControls['surname1'].hasError('required')">
          First surname is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Surname2</mat-label>
        <input matInput formControlName="surname2">
      </mat-form-field>
    </div>

    <!-- Email y Telephone en una línea -->
    <div class="row-2">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="formControls['email'].hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="formControls['email'].hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telephone</mat-label>
        <input matInput formControlName="telephone">
         <mat-error *ngIf="formControls['telephone'].hasError('pattern')">
          Please enter a valid 9-digit phone number
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Role and password-->
    <div class="row-2">
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          @for (role of roles; track role.value) {
            <mat-option [value]="role.value">
                {{ role.viewValue }}
                </mat-option>
          }
        </mat-select>
          @if (formControls['role'].hasError('required')) {
            <mat-error>
              Role is required
            </mat-error>
          }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>

        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        @if (formControls['password'].hasError('required')) {
          <mat-error>
            password is required
          </mat-error>
        }
        @if (formControls['password'].hasError('minlength')) {
          <mat-error>
            Password must be at least 8 characters
          </mat-error>
        }
        @if (formControls['password'].hasError('strongPassword')) {
        <mat-error>
            Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character (@, $, !, %, *, ?, &).
        </mat-error>
        }
    </mat-form-field>
    </div>
    <!-- DNI y Active en una línea -->
    <div class="row-2">
      <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput formControlName="dni">
        <mat-error *ngIf="formControls['dni'].hasError('required')">
          DNI is required
        </mat-error>
        <mat-error *ngIf="formControls['dni'].hasError('invalidDNI')">
          {{ formControls['dni'].getError('message') }}
        </mat-error>
      </mat-form-field>
      <div class="checkbox-row">
        <mat-checkbox formControlName="active">Active</mat-checkbox>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-flat-button (click)="updateUser()" [disabled]="userForm.invalid">Save</button>
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
  </div>
</form>
