.footer {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--app-border);
  background: var(--app-surface);
  color: var(--app-muted);
  // quita position: fixed, bottom, left, right
}
