<div class="side-menu-container" [class.mini]="!isExpanded && !isShowing">

  <!-- BRAND -->
  <mat-nav-list>
    <mat-list-item class="brand-item" (click)="toggleExpand.emit()" disableRipple>

      <mat-icon matListItemIcon class="brand-icon">
        dashboard
      </mat-icon>

      <span matListItemTitle *ngIf="isExpanded || isShowing" class="brand-title">
        Economy App
      </span>

    </mat-list-item>
  </mat-nav-list>

  <mat-divider></mat-divider>

  <!-- TOP LINKS -->
  <mat-nav-list>

    @for (link of topLinks; track link.route) {

      <a mat-list-item
         [routerLink]="link.route"
         routerLinkActive="active-link"
         disableRipple>

        <mat-icon matListItemIcon>
          {{ link.icon }}
        </mat-icon>

        <span matListItemTitle *ngIf="isExpanded || isShowing">
          {{ link.label }}
        </span>

      </a>

    }

  </mat-nav-list>

  <mat-divider *ngIf="sections.length"></mat-divider>

  <!-- SECTIONS -->
  <mat-accordion class="menu-accordion">

    @for (section of sections; track section.title) {

      <mat-expansion-panel
        class="section-panel"
        [hideToggle]="true"
        [disabled]="!isExpanded && !isShowing">

        <mat-expansion-panel-header class="section-header">

          <mat-panel-title>

            <mat-icon>
              {{ section.icon }}
            </mat-icon>

            <span *ngIf="isExpanded || isShowing">
              {{ section.title }}
            </span>

          </mat-panel-title>

          <mat-icon class="chevron" *ngIf="isExpanded || isShowing">
            expand_more
          </mat-icon>

        </mat-expansion-panel-header>

        <mat-nav-list class="submenu-list">

          @for (link of section.links; track link.route) {

            <a mat-list-item
               [routerLink]="link.route"
               routerLinkActive="active-link"
               disableRipple>

              <span matListItemTitle>
                {{ link.label }}
              </span>

            </a>

          }

        </mat-nav-list>

      </mat-expansion-panel>

    }

  </mat-accordion>

  <mat-divider></mat-divider>

  <!-- BOTTOM LINKS -->

  <mat-nav-list>

    @for (link of bottomLinks; track link.route) {

      <a mat-list-item
         [routerLink]="link.route"
         routerLinkActive="active-link"
         disableRipple>

        <mat-icon matListItemIcon>
          {{ link.icon }}
        </mat-icon>

        <span matListItemTitle *ngIf="isExpanded || isShowing">
          {{ link.label }}
        </span>

      </a>

    }

  </mat-nav-list>

</div>
