<h1 mat-dialog-title>{{isEditMode? 'Edit': 'Add'}} Bank {{ isEditMode ? `(${data.id})` : '' }}</h1>
<div *ngIf="isLoading" class="loading">Saving...</div>
<div *ngIf="errorMessage && !isLoading" class="error-message">
  {{ errorMessage }}
</div>

<form [formGroup]="bankForm"> <!-- Aquí se usa formGroup -->
  <div mat-dialog-content class="edit-bank-form">
    <!-- Name -->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="formControls['name'].hasError('required')">
        Name is required
      </mat-error>
      <mat-error *ngIf="formControls['name'].hasError('minlength')">
        Name must be at least 2 characters
      </mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
      <mat-error *ngIf="formControls['description'].hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>

    <!-- Active checkbox -->
    <div class="checkbox-row">
      <mat-checkbox formControlName="active">Active</mat-checkbox>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-flat-button (click)="updateBank()" [disabled]="bankForm.invalid">Save</button>
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
  </div>
</form>
