<mat-toolbar class="header-toolbar">
  <button mat-icon-button 
          class="menu-button"
          (click)="toggleMenu()" 
          aria-label="Toggle menu"
          matTooltip="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="page-title">
    {{ title | translate }}
  </span>

  <div class="spacer"></div>

  <button mat-icon-button 
          class="logout-button"
          (click)="logout()" 
          aria-label="Logout" 
          matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
